.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input {
    outline: none;
    border: none;
    height: 2em;
    border-radius: 5px;
    -webkit-appearance: none;
    margin-left: .5em;
}


input::placeholder {

}
