.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2em;
}

.input {
    outline: none;
    border: none;
    height: 2em;
    width: 100%;
    -webkit-appearance: none;
    margin-left: .5em;
    background-color: #fff;
}

@media (min-width: 768px) {
    .input {
        height: 3em;
        font-size: .6em;
    }

}




